.structure-1 {
  width: 100%;
  min-height: 600px;
  height: auto;
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
}

.structure-2 {
  padding-top: 13%;
  padding-left: 2%;
  padding-right: 2%;
  max-width: 50vw;
  margin: 4px;
  text-align: justify;
}

.text-structure {
  padding-top: 0;
}

.structure-2 h1 {
  padding-left: 30px;
}

.img-structure {
  width: 15%;
  height: auto;
  position: absolute;
  bottom: -10%;
  right: 1%;
}

.star-1,
.star-2,
.star-3 {
  position: absolute;
}

.star-1 {
  width: 4vw;
  top: 4.5vh;
  left: 15vw;
}

.star-2 {
  width: 3vw;
  top: 4vh;
  left: 23vw;
}

.star-3 {
  width: 2vw;
  top: 10vh;
  left: 20vw;
}

video {
  padding-top: 10rem;
  max-width: 100%;
  height: auto;
  padding-left: 2rem;
  width: 400px;
  height: 400px;
}

/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
  .structure-1 {
    margin-top: 50px;
    height: auto;
    padding: 10px;
    flex-direction: column;
    box-sizing: border-box;
  }

  .structure-2 {
    padding-top: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 100%;
    margin: 5px;
  }

  .img-structure {
    width: 40%;
    bottom: -10%;
    right: 0;
    display: none;
  }

  .star-1 {
    width: 12vw;
    left: 55%;
    top: 100%;
  }

  .star-2 {
    width: 10vw;
    left: 43%;
    top: 100%;
  }

  .star-3 {
    width: 8vw;
    left: 33%;
    top: 101%;
  }

  video {
    width: 50%;
    height: auto;
    padding: 10px;
  }
}

/* Estilos para telas menores que 480px */
@media (max-width: 480px) {
  .structure-1 {
    padding-top: 30px;
    height: auto;
    padding: 5px;
  }

  .structure-2 {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
  }

  .structure-2 h1 {
    text-align: center;
    padding-left: 0;
    font-size: 1.5rem;
    display: flex;
    bottom: 100%;
  }

  .img-structure {
    width: 40%;
    bottom: -10%;
    right: 0;
    display: none;
  }

  .star-1 {
    width: 12vw;
    left: 55%;
    top: 100%;
  }

  .star-2 {
    width: 10vw;
    left: 43%;
    top: 100%;
  }

  .star-3 {
    width: 8vw;
    left: 33%;
    top: 101%;
  }

  video {
    width: 50%;
    height: auto;
    padding: 30px;
  }
}
