.structure-1 {
  width: 100%;
  min-height: 600px;
  height: auto;
  position: relative;
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.structure-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  padding-top: 60px;
}
.structure-2 video {
  flex: 1;
  max-height: 300px;
}

.text-structure {
  flex: 2;
  margin-left: 50px;
  margin-right: 30px;
  text-align: justify;
}

.structure-1 h1 {
  padding: 30px 0;
  margin: 0;
  text-align: center;
}

.img-structure {
  max-width: 15%;
  height: auto;
  position: absolute;
  bottom: 12%;
  right: 1%;
}

.star-1,
.star-2,
.star-3 {
  position: absolute;
}

.star-1 {
  width: 4vw;
  top: 4.5vh;
  left: 15vw;
}

.star-2 {
  width: 3vw;
  top: 4vh;
  left: 23vw;
}

.star-3 {
  width: 2vw;
  top: 10vh;
  left: 20vw;
}

/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
  .structure-1 {
    margin-top: 50px;
    height: auto;
    padding: 10px;
    flex-direction: column;
    box-sizing: border-box;
  }

  .structure-2 {
    padding-top: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 100%;
    margin: 5px;
  }

  .img-structure {
    width: 40%;
    bottom: -10%;
    right: 0;
    display: none;
  }

  .star-1 {
    width: 12vw;
    left: 55%;
    top: 100%;
  }

  .star-2 {
    width: 10vw;
    left: 43%;
    top: 100%;
  }

  .star-3 {
    width: 8vw;
    left: 33%;
    top: 101%;
  }

  video {
    width: 50%;
    height: auto;
    padding: 10px;
  }
}

/* Estilos para telas menores que 480px */
@media (max-width: 480px) {
  .structure-1 {
    padding-top: 30px;
    height: auto;
    padding: 5px;
    align-items: center;
    min-height: 800px;
  }
  .structure-2 {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
  }
  .structure-1 h1 {
    text-align: center;
    display: flex;
  }

  .img-structure {
    display: none;
  }

  .star-1 {
    width: 12vw;
    left: 55%;
    top: 100%;
  }

  .star-2 {
    width: 10vw;
    left: 43%;
    top: 100%;
  }

  .star-3 {
    width: 8vw;
    left: 33%;
    top: 101%;
  }

  video {
    width: 50%;
    height: auto;
    padding-bottom: 30px;
  }
}
