.activity-1 {
  text-align: center;
  width: 100%;
  min-height: 700px;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.activity-2 {
  padding-top: 8%;
  margin: auto;
  max-width: 800px;
  text-align: center;
}
.activity-3 {
  flex: 1;
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.order-list ul {
  text-align: left;
  margin: 30px;
}

.img-activity {
  margin: auto;
  width: 50px;
  padding: 0;
}

.activity-2 h1 {
  padding: 0;
}

.img-flower {
  width: 15vw;
  position: absolute;
  left: 0;
  bottom: 2vh;
}

.img-pencils {
  width: 15vw;
  position: absolute;
  right: 0;
  top: 15%;
}

.gram-img {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
}

@media (max-width: 768px) {
  .order-list ul {
    list-style-type: none;
    min-width: 400px;
    padding-top: 42h;
    padding-left: 4vh;
  }
  .activity-1 {
    min-height: 820px;
  }
  .activity-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .activity-3 .img-activity {
    padding-top: 5vh;
  }

  .order-list {
    flex-direction: column;
    align-items: center;
  }

  .img-flower {
    width: 12vh;
    bottom: 0vh;
  }
  .img-pencils {
    width: 12vh;
    top: 25vh;
  }

  .img-activity {
    width: 4vw;
  }
}

@media (max-width: 480px) {
  .activity-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .img-flower {
    width: 12vh;
    bottom: 0vh;
  }
  .img-pencils {
    width: 12vh;
    top: 25vh;
  }

  .img-activity {
    width: 10vw;
  }

  .activity-2 h1 {
    font-size: 1.5em;
  }
}

/* atividades.css:

.activity {
  width: 100%;
  min-height: 700px;
  height: auto;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.activity-2 {
  padding-top: 5%;
  padding-left: 10%;
  max-width: 80vw;
  margin: 0 auto;
  text-align: left;
}

.grid-activity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}

.activity-text {
  width: 90%;
}

.mission {
  padding-bottom: 20px;
  max-width: 80%;
}

.star-1,
.star-2,
.star-3 {
  position: absolute;
}

.star-1 {
  width: 4vw;
  top: 4.5vh;
  left: 15vw;
}

.star-2 {
  width: 3vw;
  top: 4vh;
  left: 23vw;
}

.star-3 {
  width: 2vw;
  top: 10vh;
  left: 20vw;
}

@media (max-width: 768px) {
  .grid-activity {
    display: block;
  }
  .activity-2 {
    padding-top: 5%;
    padding-left: 10%;
    max-width: 80vw;
    margin: 0 auto;
    text-align: left;
  }

  .mission {
    padding-bottom: 20px;
    max-width: 80%;
  }

  .activity-text {
    width: 100%;
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .activity-2 {
    padding-top: 5%;
    padding-left: 10%;
    max-width: 90vw;
    margin: 0 auto;
    text-align: left;
  }

  .mission {
    padding-bottom: 20px;
    max-width: 100%;
  }

  .activity-text {
    width: 100%;
    padding-top: 20px;
  }
} */