
 .home-1 {
  padding-top: 10%;
  width: 100%;
  min-height: 580px; 
  position: relative;
  background-image: url("../../../public/images/backgrounds/page1.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.home-2 {
  padding: 20px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 18vh; 
  width: 35vw;
  background-color: #fff6cf;
  text-align: center;
  border: 2px solid #082a44;
  border-left: none;
  border-top: none;
  box-shadow: 10px 10px #e0d5b2;
  position: relative; 
}

.arthuresamu, .rainbow, .samuelzin {
  max-width: 30%; 
  position: absolute;
}

.arthuresamu {
  width: 15vw; 
  left: 17%; 
  bottom: 0%; 
}

.samuelzin {
  width: 25vw;
  right: 3%;
  bottom: 0;
  border-radius: 70%;
}

.rainbow {
  width: 22vw; 
  bottom: 1%; 
  left: -5%; 
  transform: rotate(25deg); 
}


@media (max-width: 768px) {

  .home-1{
    min-height: 470px;
  }
  .images-mobile{
    align-items: center;
    display: flex;
    flex-direction:row ;
    margin: 0 auto;
    padding: 10px;
    height: 20vh;
  }
  .home-2 {
    width: 60%; 
    margin-top: 2px; 

  }

  .arthuresamu, .samuelzin {
    max-width: 70%; 
    display: flex;
  }
  .arthuresamu{
    width: 40vw;
    left: 8vw;
  }
  .samuelzin{
    width: 40vw;
  }
  .rainbow{
    display: none;
  }

}

@media (max-width: 480px) {
  .home-1 {
    padding-top: 5%; 
  }

  .home-2 {
    width: 95%; 
  }

  .arthuresamu, .rainbow, .samuelzin {
    max-width: 100%; 
  }

  .rainbow {
    width: 90%; 
  }
}

/* .home-1 {
  padding-top: 10%;
  width: 100%;
  min-height: 580px;
  position: relative;
  background-image: url("../../../public/images/backgrounds/page1.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.home-2 {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18vh;
  width: 35vw;
  background-color: #fff6cf;
  text-align: center;
  border: 2px solid #082a44;
  border-left: none;
  border-top: none;
  box-shadow: 10px 10px #e0d5b2;
  position: relative;
}

.arthuresamu, .rainbow, .samuelzin {
  max-width: 30%;
  position: absolute;
}

.arthuresamu {
  width: 15vw;
  left: 17%;
  bottom: 0%;
}

.samuelzin {
  width: 25vw;
  right: 3%;
  bottom: 0;
  border-radius: 70%;
}

.rainbow {
  width: 22vw;
  bottom: 1%;
  left: -5%;
  transform: rotate(25deg);
}


@media (max-width: 768px) {
  .home-1 {
    min-height: 470px;
  }
  .images-mobile {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 10px;
    height: 20vh;
  }
  .home-2 {
    width: 60%; 
    margin-top: 2px; 
  }
  .arthuresamu, .samuelzin {
    max-width: 70%;
    display: flex;
  }
  .arthuresamu {
    width: 40vw;
    left: 8vw;
  }
  .samuelzin {
    width: 40vw;
  }
  .rainbow {
    display: none;
  }
}

@media (max-width: 480px) {
  .home-1 {
    padding-top: 5%;
  }
  .home-2 {
    width: 95%;
  }
  .arthuresamu, .rainbow, .samuelzin {
    max-width: 100%;
  }
  .rainbow {
    width: 90%;
  }
}


@media (min-width: 1024px) {
  .home-2 {
    width: 25vw; 
  }
  .arthuresamu {
    width: 12vw;
  }
  .samuelzin {
    width: 20vw;
  }
  .rainbow {
    width: 18vw;
  }
} */