.data-info {
  width: 100%;
  min-height: 700px;
  display: flex;
  padding-top: 20px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1200px;
  padding-top: 70px;
}

.infos {
  flex: 1;
  text-align: left;
  margin-left: 100px;
}

.location {
  flex: 1;

  margin-right: 120px;
}

.twolines {
  align-self: center;
  width: 30%;
  height: auto;
}

.test {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
}

.logo-final {
  padding-top: 80px;
  width: 300px;
  height: auto;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .twolines {
    display: none;
  }

  .location {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .infos ul {
    margin: 20px auto;
    list-style-type: none;
  }
  .data-info {
    min-height: 830px;
  }
  .content {
    padding-top: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .infos {
    width: 90%;
    text-align: center;
    margin: 0;
    padding-bottom: 60px;
  }

  .location {
    width: 90%;
    margin: 0;
  }

  .logo-final {
    width: 60%;
    height: auto;
    padding: 0;
  }
}
