.comment {
  height: 700px;
  width: 100%;
  text-align: center;
  background-image: url("../../../public/images/backgrounds/page6.png ");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.comment h1 {
  padding-top: 50px;
}
