
.nav-bar {
    
    display: inline-flex;
    background-color: purple;
    color: white;
    width: 100%;
    max-height: 80px;
    height: 100%;
    padding: 0%;
    text-align: center;
    

}

.nav-bar p {
    padding: 35px;
    text-decoration: underline;
    margin: auto;
}
.icons{
    display: flex;
    flex-flow: column;
}