body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
h1 {
  color: purple;
  font-size: 1.5em;
}

